*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body , html{background:#dfe0e5;
    
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.main{
    /* height: 100vh; */
    width: 100%;
    /* background: #f1e2e2; */
}
.head{
    background: #0c133b;
}
.header{
    width: 100%;
    height: 300px;
    /* background:radial-gradient(#9089cd,#3c4493); */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav{
    color: #c5c0c9;
    width: 100%;
    height: 50px;
    /* background: #6ffb82; */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo{
    color: rgb(240, 238, 233);
    font-weight: 800;
    font-size: 22px;
}

.logo a{
    text-decoration: none;
    color: rgb(240, 238, 233);
    background: #0c133b;
}
.links{
    height: auto;
    display: flex;
    gap: 3vw;
}
.links a:nth-child(2){
    color: #ff3c78;
    opacity: 1;
}
.links a::after{
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    border-radius: 50px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transform: scaleX(0);
    transition: 0.3s;
}
.links a:hover::after{
    transform: scaleX(1);
}
.links a{
    position: relative;
    height: 1vw;
    text-decoration: none;
    color: #c5c0c9;
    font-weight: 400;
    opacity: .5;
}
.links a:hover{
    opacity: 1;
}
button:hover{
    cursor: pointer;
}
/* button:active{
    transform: translatey(1px);
    transition: all ease;
} */
.left h1{
    font-size: 5vw;
    color:rgb(0, 0, 0);
    text-shadow: #fcfcfc 2px 2px 20px;

}
.right{
    display: flex;
    gap: 20px;
}
.right img{
    width: 100%;
    padding: 5px;
    background:linear-gradient(100deg,blue,red,yellow,green);
}
.container{
    height: auto;
    width: 100%;
    padding: 2vw 2vw;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}
.cards{
    /* box-shadow: 0px 0px 5px 0px black; */
    border-radius: 9px;
    padding: .5vw;
    background: #c5c0c9;
    height:300px;
    overflow: hidden;
    width: 250px;
    transition:0.2s all ease;
    /* border: 2px solid red; */
}
.cards img{
    border-radius: 5px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.cards:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px black;
}   
.cards h3,p{
    font-size:1.2vw;
}

h1{ margin-top: 50px;
    text-align: center;
}
i{
    margin-top: 5px;
}
/* .container2{
    height: auto;
    width: 100%;
    padding: 2vw 2vw;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
} */
footer{
    z-index: -1;
    margin-top: 100px;
    position: relative;
    width: 100%;
    background: #010101;
    height: 70px;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-bottom p{
    margin-top: -1px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: #000;
}
.soc_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.soc_icon li{
    list-style: none;
}
.soc_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.soc_icon li a:hover{
    transform: translateY(-10px);
}
footer .wave{
    
    position: absolute;
    top: -57px;
    left: 0;
    width: 100%;
    height: 57px;
    background: url(wave.png);
    background-size: 1363px 68px;
   
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s linear infinite;
}
@keyframes animatewave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animatewave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
@media (max-width:700px) {
    .header{
        height: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .header h1{
        align-items: center;
        justify-content: center;
    }
    button{
        text-align: center;
    }
    .right{
        margin-top: 20px;
    }
    .right img{
        width: 40vw;
    }
}

@media (max-width:500px){
    .links{
        display: none;
    }
    .soc_icon li a{
        font-size: 1.5em;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }
}
@media (max-width:500px){
    .links{
        display: none;
    }
    .container{
        gap: 15px;
    }
    /* .container2{
        gap: 15px;
    } */
    .cards{
        height: 70vw;
        width: 45vw;
    }
    .cards h3,p,i{
        font-size:3.5vw;
    }
    h3{
        margin-bottom:-5px;
    }
    p{
        margin-top:0px;
    }
    
    h1{ 
    font-size: 20px;
    text-align: center;
    }
    .left h1{
        font-size: 30px;
    text-align: center;
    }
    
}
@media (min-width:500px) and (max-width:900px){
    .cards h3,p,i{
        font-size:13px;
    }
    .cards{
        width: 180px;
        height: 250px;
    }
    h1{ 
    font-size: 20px;
    text-align: center;
    }
    .links a::after{
        content: "";
        position: absolute;
        background: #ff3c78;
        height: 3px;
        border-radius: 50px;
        width: 100%;
        left: 0;
        bottom: -15px;
        transform: scaleX(0);
        transition: 0.3s;
    }
    .links a:hover::after{
        transform: scaleX(1);
    }
}
.product-preview{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgb(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
    
}
.preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
    z-index: 999;
}
.preview.active{
    
    display: inline-block;
}
.preview img{
    height: 18rem;
}
.fa-times{
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    cursor: pointer;
    color: #444;
    font-size: 3rem;
}
.preview h3{
    font-weight: 800;
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.preview .fa-star{
    font-size: 1rem;
}
.preview .fa-star-half-stroke{
    font-size: 1rem;
}
.preview p{
    font-weight: 800;
    font-size: 1rem;
}
.popup{
    width: 300px;
    height:400px;
    background: #b74f4f;
    position: fixed;
    border-radius: 9px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    z-index: 1000;
    transition: transform 0.4s, top 0.4s;
}
.butn{
    width: 8rem;
    height:  2rem;
    background: #6fd649;
    text-align: center;
    margin: 10px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow:black 2px 2px 2px;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.close-preview{
    display: none;
}
